*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: #fff4f4;
  --text-color: #131111;
}

/* Helped enable dark theme */
[data-theme="dark"] {
  --bg-color: #000611;
  --text-color: #ffffff;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
}

/* Transition for Custom Cursor */

.cursor--custom {
  transition-timing-function: ease-out;
  transition-duration: 500ms;
  border-radius: 50%;
}

/* For WebKit-based browsers like Chrome, Safari, and Edge */
::-webkit-scrollbar {
  width: 0; /* Hides the scrollbar in WebKit browsers */
  height: 0; /* Hides the horizontal scrollbar if needed */
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.slider {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 200px; /* Adjust based on your design */
  margin: 0 10px;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 8px; /* Optional: for rounded corners */
}

.song-info {
  text-align: center;
}
